.hero_frame:nth-child(1) {
  left: 29.7rem;
  top: 0.1rem;
}

.hero_frame:nth-child(2) {
  left: 35rem;
  top: 10.7rem;
}

.hero_frame:nth-child(3) {
  left: 116rem;
  top: 58.5rem;
}

.hero_frame:nth-child(4) {
  left: 95.6rem;
  top: 105.8rem;
}

.hero_frame:nth-child(5) {
  left: 141.9rem;
  top: 45.5rem;
}

.hero_frame:nth-child(6) {
  left: 138.9rem;
  top: 86.9rem;
}

.hero_frame:nth-child(7) {
  left: 171.9rem;
  top: 122.7rem;
}

.hero_frame:nth-child(8) {
  left: 169.9rem;
  top: 105.8rem;
}
